    * {
        margin: 0px;
        padding: 0px;
    }
    
    body.Homebody {
        background-image: url(images/Worldsfair643.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    div.menubar {
        list-style-type: none;
        text-align: center;
        overflow: hidden;
        background-color: #333;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        font-family: 'Lato', sans-serif;
        text-decoration: none;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    /* link color changes to a blue on hover */
    
    li a:hover {
        background-color: blue;
    }
    /* details behavior of links when active or not */
    
    li a:hover:not( .active) {
        background-color: black;
    }
    
    .active {
        background-color: blue;
    }
    
    div.content {
        margin: 60px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        color: white;
    }
    
    .blocktext {
        margin-left: auto;
        margin-right: auto;
        width: 25em;
        line-height: 25px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    p.blocktext1 {
        font-size: larger;
         margin-left: auto;
        margin-right: auto;
        width: 20.7em;
        line-height: 25px;
        background-color: rgba(0, 0, 0, 0.5);
    }
        
        ribbon {
 font-size: 16px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 50%;
    
 position: relative;
 background: #ba89b6;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #986794;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #804f7c transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}
