    * {
        margin: 0px;
        padding: 0px;
    }
    
    body.Homebody {
        background-image: url(images/Worldsfair643.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    div.menubar {
        list-style-type: none;
        text-align: center;
        overflow: hidden;
        background-color: #333;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        font-family: 'Lato', sans-serif;
        text-decoration: none;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    /* link color changes to a blue on hover */
    
    li a:hover {
        background-color: blue;
    }
    /* details behavior of links when active or not */
    
    li a:hover:not( .active) {
        background-color: black;
    }
    
    .active {
        background-color: blue;
    }
    
    div.content {
        margin: 60px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        color: white;
    }
    
    .blocktext {
        margin-left: auto;
        margin-right: auto;
        width: 25em;
        line-height: 25px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    p.blocktext1 {
        font-size: larger;
         margin-left: auto;
        margin-right: auto;
        width: 20.7em;
        line-height: 25px;
        background-color: rgba(0, 0, 0, 0.5);
    }
        
   .ribbon {
       
   position: absolute;
   width: 60%;
   left: 60%;
   margin-left: -45%;
   text-align: center;
   font-size: 13px!important;
   background: #1c1b1b;
   background: -webkit-gradient(linear, left top, left bottom, from(#1c1b1b), to(#453636));
   background: -webkit-linear-gradient(top, #1c1b1b, #453636);
   background: -moz-linear-gradient(top, #1c1b1b, #453636);
   background: -ms-linear-gradient(top, #1c1b1b, #453636);
   background: -o-linear-gradient(top, #1c1b1b, #453636);
   background-image: -ms-linear-gradient(top, #1c1b1b 0%, #453636 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
   }
.ribbon h1 {
   font-size: 26px!important;
   color: #ffffff;
   text-shadow: #8f7474 0 1px 0;
   margin:0px;
   padding: 15px 10px;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #2e2323;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #1a1616 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}